.git
.gitignore
.dockerignore

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example
docker-compose.*.env
!docker-compose.env

/data
coverage
.nyc_output
logs
*.log

.DS_Store
.idea
.vscode

/test/*
!/test/resources
!/test/resources/deepphe.sqlite3
!/test/resources/deepphe-500.sqlite3
/docs
/tmp
/temp
